body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

#game-setup {
    text-align: center;
    margin-bottom: 40px;
}

#num-players {
    font-size: 16px;
}

#player-names input {
    margin: 10px;
    padding: 8px;
    font-size: 14px;
}

button {
    background-color: #3b3b3b;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
}

button:hover {
    background-color: #575757;
}

#game-stats {
    text-align: center;
}

#game-stats img {
    width: 60px;
    height: 90px;
    margin: 5px;
}
